{% if btrfs_exists|default(false)|bool == True %}
{% if ansible_hostname == 'ninjabot' %}
MODULES=(crc32c-intel intel_agp i915 btrfs nvidia nvidia_modeset nvidia_uvm nvidia_drm)
{% else %}
MODULES=(crc32c-intel intel_agp i915 btrfs)
{% endif %}
BINARIES=(/usr/bin/btrfs)
{% else %}
MODULES=(crc32c-intel intel_agp i915)
BINARIES=()
{% endif %}
FILES=()
HOOKS=(base systemd autodetect keyboard keymap modconf block filesystems fsck mdadm_udev)
COMPRESSION="zstd"
COMPRESSION_OPTIONS=(-2)
